.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.ArticleList {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.Article {
  border: solid #666666 1px;
  border-radius: 5px;
}

.AddArticle {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  gap: 10px;
  border: solid #666666 1px;
  border-radius: 5px;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
